# ==========================================
# CÁC THƯ VIỆN CHO BACKEND API
# ==========================================
fastapi
uvicorn[standard]
python-multipart    # Bắt buộc phải có để FastAPI xử lý việc upload file mp3/wav

# ==========================================
# CÁC THƯ VIỆN CHO AI & XỬ LÝ ÂM THANH
# ==========================================
librosa             # Lõi xử lý âm thanh, trích xuất MFCC
numpy               # Xử lý ma trận, vector đặc trưng, lưu file .npy
scikit-learn        # Chạy thuật toán K-Nearest Neighbors (KNN) và Cosine Similarity

# ==========================================
# CÁC THƯ VIỆN CHO DATABASE
# ==========================================
SQLAlchemy          # ORM để thao tác với Database (tạo bảng, query) bằng code Python
pymysql             # Database driver kết nối với MySQL

# ==========================================
# CÁC THƯ VIỆN TIỆN ÍCH KHÁC
# ==========================================
python-dotenv       # Giúp đọc các biến môi trường (như DB_URL) từ file .env
requests            # Để Track 5 (Frontend) dùng gọi API test thử